.menu {
  background-color: #0f0f0e;
  padding: 12px;
}
.menu__logo {
  width: 305px;
}
.page {
  display: flex;
  justify-content: end;
}
.pages {
  color: rgb(209, 220, 220);
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0px 20px;
}
.pages:hover {
  color: rgb(220, 137, 174);
}

@media screen and (max-width: 1200px) {
  .page {
    display: flex;
    flex-direction: column;
  }
  .pages {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 375px) {
  .menu__logo {
    width: 240px;
  }
}
