.news__title {
  font-family: "Londrina Outline", cursive;
  color: rgb(195, 102, 139);
  font-size: 3rem;
  text-align: center;
  margin: 100px;
}
.new1 {
  margin: 50px 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.news__title1 {
  font-size: 2rem;
  color: rgb(161, 58, 99);
  padding: 20px;
}
.news__img {
  width: 600px;
  padding: 20px;
}

.news__ph1 {
  font-size: 1.5rem;
  padding: 20px;
}
@media screen and (max-width: 1500px) {
  .new1 {
    margin: 20px 250px;
  }
  .news__title1 {
    font-size: 1.8rem;
  }
  .news__img {
    width: 550px;
  }
  .news__ph1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1100px) {
  .new1 {
    margin: 10px 200px;
  }
  .news__title1 {
    font-size: 1.6rem;
  }
  .news__img {
    width: 500px;
  }
  .news__ph1 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 959px) {
  .new1 {
    margin: 7px 120px;
  }
  .news__title1 {
    font-size: 1.3rem;
  }
  .news__img {
    width: 450px;
  }
  .news__ph1 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .new1 {
    margin: 2px 90px;
  }
  .news__img {
    width: 400px;
  }
}
@media screen and (max-width: 460px) {
  .new1 {
    margin: 1px 50px;
  }
  .news__img {
    width: 320px;
  }
}
@media screen and (max-width: 320px) {
  .new1 {
    margin: 1px 30px;
  }
  .news__img {
    width: 280px;
  }
}
