*{

    margin: 0;
    padding: 0;
    
}
body{

    background-image: url(../assets/images/background.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
   
}


.menu{
    background-color: black;
    position: fixed;
    z-index: 100;
    font-family: 'Supermercado One', cursive;
    padding: 20px;
    width: 100%;
    top: 0;
    overflow ;
    
}
.menu__logo{

    color: rgb(241, 132, 179);
    padding: 3rem;
}
.menu__titles{

    font-size: 30px;
}
.pages{
    color: rgb(204, 213, 213);
    text-decoration: none;
    padding: 1rem;
    margin: 2rem;
}
.pages:hover{
    color: rgb(241, 132, 179);
}
.subscribe_contact{
    color: rgb(199, 94, 136);
    text-decoration: none;
    padding: 1rem;
}
.subscribe_contact:hover{
    color: rgb(204, 213, 213);
}

.main{
    margin:150px 380px;
}

.box1{
 
    width: 1000px;
    height: 590px;
   padding: 90px;
  
    background-color: black;
    opacity: 90%;
    font-size: 20px;
    color: #D8D9CF;
    font-family: 'Supermercado One', cursive;
    border-radius: 20px;
    
   
}

.box1__img{
    opacity: 100%;
   margin: 50px 100px;
    border-radius: 20px;
}
.box2{
    width: 1000px;
    height: 700px;
    padding: 70px;
    background-color: rgb(180, 128, 144);
    opacity: 90%;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Supermercado One', cursive;
    border-radius: 20px;
    
}

.home__gif {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 50px 15px;
}
.home__video{
    margin: 60px 50px;
}


.news{
    margin: 100px;
}
.pink__title{
    color: rgb(199, 94, 136);
    font-size: 45px;
    text-align: center;
    font-family:'Supermercado One',
        cursive;
}

.news__img{
    width: 600px;
    height: 400px;
    margin: 20px 150px;
}
.fieldset{
    padding: 2rem;
    text-align: center;
}
.form{
    width: 1000px;
    height: 650px;
    font-size: 30px;
    font-family: 'Supermercado One', cursive;
   
    padding: 1rem;
    margin: 1rem;
    background-color: #121212;
    opacity: 90%;
    border-radius: 3rem;
    color: rgb(171, 165, 168);

}
#name, #mail, #password, #birthaday{
    border:none;
    border-radius: 4rem;
    font-size: 20px;
    padding: 1rem;
    margin: 1rem;
    font-family: 'Supermercado One', cursive;
}
.btn{
    border: none;
        border-radius: 4rem;
        font-size: 25px;
        padding: 1rem;
        margin: 2rem;
        font-family: 'Supermercado One', cursive;
}
.btn:hover{
    background-color:rgb(199, 94, 136) ;
}
.bptImg{
    width: 650px;
    height: 730px;
    margin: 25px 250px;
}
.footer{
    background-color: #0f0f0e;
    font-family: 'Supermercado One', cursive;
    padding: 40px;
    color: rgb(199, 94, 136);
    font-size: 30px;
    text-align: center;
}
.pink__pic{
    width: 300px;
    height: 400px;
    border-radius: 20%;
    margin: 30px 420px;
}
.pink__card{
   box-sizing: border-box;
font-family: 'Supermercado One', cursive;
font-size: 25px;
}
.icon{
    width: 50px;
    height: 50px;
}
.songbox {
   display: grid;
   column-gap: 20px;
   grid-template-columns: 600px 600px;
  
  
   

}
.socialContent{
    display: grid;
    column-gap: 5px;
    grid-template-columns: 60px 60px;
    grid-template-rows: 70px 70px 70px 70px 70px 70px;
    margin: 40px 450px;
   
}