*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-image: url(../assets/images/background.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
   
}

.menu{
    background-color: black;
    position: fixed;
    z-index: 100;
    font-family: 'Supermercado One', cursive;
    padding: 20px;
    width: 100%;
    
}
.menu_logo{

    color: rgb(241, 132, 179);
    padding: 3rem;
}
.menu_titles{

    font-size: 30px;
}
.pages{
    color: rgb(204, 213, 213);
    text-decoration: none;
    padding: 1rem;
    margin: 2rem;
}
.pages:hover{
    color: rgb(241, 132, 179);
}
.subscribe_contact{
    color: rgb(199, 94, 136);
    text-decoration: none;
    padding: 1rem;
}
.subscribe_contact:hover{
    color: rgb(204, 213, 213);
}

.box1{
 
    width: 900px;
    height: 700px;
   padding: 70px;
    background-color: black;
    opacity: 90%;
    font-size: 20px;
    color: #D8D9CF;
    font-family: 'Supermercado One', cursive;
    border-radius: 20px;
}

.home_img{
    opacity: 100%;
   margin: 60px;
    border-radius: 20px;
}
.box2{
    width: 900px;
    height: 700px;
    margin: 100px 50px;
    padding: 70px;
    background-color: rgb(138, 51, 77);
    opacity: 90%;
    font-size: 20px;
    color: #0f0f0e;
    font-family: 'Supermercado One', cursive;
    border-radius: 20px;
}
.box3{
    width: 400px;
    height: 100px;
    background-color: #0f0f0e;
    opacity: 90%;
    font-size: 30px;
    color: #c4c4bf;
    font-family: 'Supermercado One', cursive;
    border-radius: 20px;
}

.pink_title{
    color: rgb(199, 94, 136);
    font-size: 45px;
    text-align: center;
    font-family:'Supermercado One',
        cursive;
}
.fieldset{
    padding: 2rem;
    text-align: center;
}
.form{
    width: 800px;
    font-size: 40px;
    font-family: 'Supermercado One', cursive;
    padding-top: 20px;
    padding: 2rem;
    margin: 2rem;
    background-color: #121212;
    opacity: 90%;
    border-radius: 3rem;
    color: rgb(171, 165, 168);

}
#name, #mail, #password, #birthaday{
    border:none;
    border-radius: 4rem;
    font-size: 25px;
    padding: 1rem;
    margin: 2rem;
    font-family: 'Supermercado One', cursive;
}
.btn{
    border: none;
        border-radius: 4rem;
        font-size: 25px;
        padding: 1rem;
        margin: 2rem;
        font-family: 'Supermercado One', cursive;
}
.btn:hover{
    background-color:rgb(199, 94, 136) ;
}
.footer{
    background-color: #0f0f0e;
    font-family: 'Supermercado One', cursive;
    padding: 40px;
    color: rgb(199, 94, 136);
    font-size: 30px;
    text-align: center;
}