* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../assets/images/background.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.footer {
  background-color: #0f0f0e;
  padding: 26px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgb(185, 178, 181);
}
@media screen and (min-width: 1400px) {
  body {
    background-image: url(../assets/images/background.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }
  .menu {
    background-color: #0f0f0e;
    padding: 10px;
  }

  .pages {
    font-size: 1.2rem;
  }
  .home__two {
    background-color: #0f0f0e;
    grid-column-gap: 80px;
    grid-row-gap: 30px;
    padding: 100px;
  }
  .home_two--title {
    font-size: 2rem;
  }

  .home_two--title2 {
    font-size: 1.2rem;
  }

  .home__spotify {
    width: 280px;
  }

  .home_two--title3 {
    font-size: 1.2rem;
  }

  .socialContent {
    grid-template-columns: 60px 60px;
    grid-template-rows: 70px 70px 70px 70px 70px 70px;
    margin: 40px 230px;
  }
  .news__img {
    width: 400px;
    padding: 20px;
    grid-area: news__img;
  }
  .songs {
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: repeat(4 1fr);
    grid-template-areas:
      "song__card song__card "
      "song__card song__card "
      "song__card song__card "
      "song__card song__card ";
  }
  .form {
    width: 700px;
    height: 650px;
    font-size: 30px;
    padding: 1rem;
    margin: 30px 60px;
  }

  #name,
  #mail,
  #password,
  #birthaday {
    font-size: 15px;
  }

  .btn {
    font-size: 15px;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 460px) {
}

@media screen and (max-width: 320px) {
}
