body {
  background-image: url(../assets/images/background.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
  .home__two {
    background-color: #0f0f0e;

    .home_two--title {
      font-family: "Londrina Outline", cursive;
      color: rgb(199, 94, 136);
      font-size: 3rem;
      text-align: center;
    }

    .container__home {
      align-items: center;
      display: flex;
      gap: 30px;
      justify-content: center;

      .container__home--card {
        margin: 30px;

        .home_two--title2 {
          color: rgb(212, 212, 211);
          font-size: 1.8rem;
        }

        .home__spotify {
          width: 400px;
          margin: 50px;
        }

        .home__video {
          .home__video--img {
            margin: 50px;
            width: 500px;
            border-radius: 5%;
            border: 5px solid rgb(232, 104, 166);

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

@function setFontSize($screen) {
  $fontSize: null;
  @if ($screen == desktop) {
    $fontSize: 1.2rem;
  }
  @if ($screen == mobile) {
    $fontSize: 1rem;
  }
  @return $fontSize;
}
@function setVideoWidth($screen) {
  $videoWidth: null;
  @if ($screen == mobile) {
    $videoWidth: 100px;
  }
  @return $videoWidth;
}

main .home__two {
  @media screen and (max-width: 1200px) {
    .container__home {
      flex-direction: column;
      text-align: center;
    }
  }

  @media screen and (max-width: 768px) {
    .container__home .container__home--card .home_two--title2 {
      font-size: setFontSize(desktop);
      .home__spotify {
        width: 100px;
      }

      .home__video .home__video--img {
        width: setVideoWidth(mobile);
      }
    }
  }

  @media screen and (max-width: 600px) {
    .container__home .container__home--card .home_two--title2 {
      font-size: setFontSize(mobile1);
      margin: 0px 8px;
    }
  }
}
