main {
  .pink__card {
    display: flex;
    margin: 50px 150px;
    align-items: center;
  }
  .pink__title {
    font-family: "Londrina Outline", cursive;
    color: rgb(88, 5, 33);
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
  }
  .pink__pic {
    width: 300px;
    border-radius: 20%;
    margin: 20px;
  }
  .pink__ph {
    font-size: 1.5rem;
  }

  .pink__content {
    background-color: #0f0f0e;
    .pink__info {
      display: flex;
      padding: 10px;
      margin: 50px 100px;
    }
    .pink__info2 {
      display: flex;
      padding: 50px;
      margin: 50px 100px;
    }
    .pink__img1,
    .pink__img2 {
      width: 500px;
      margin: 20px;
      border: 3px dashed rgb(223, 121, 184);
      &:hover {
        transform: scale(1.3);
      }
    }
    .pink__ph1,
    .pink__ph2 {
      color: rgb(176, 193, 193);
      font-size: 1.5rem;
      padding: 50px;
    }
  }
}

@function setCardDirection($screen) {
  $cardDirection: null;
  @if ($screen == desktop) {
    $cardDirection: column;
  }

  @return $cardDirection;
}
@function setMarginCard($screen) {
  $marginCard: null;
  @if ($screen==desktop2) {
    $marginCard: 20px 70px;
  }
  @if ($screen == mobile) {
    $marginCard: 5px 10px;
  }
  @return $marginCard;
}
@function setImgWidth($screen) {
  $imgWidth: null;
  @if ($screen == mobile) {
    $imgWidth: 190px;
  }
  @return $imgWidth;
}
@function setFontPh($screen) {
  $fontPh: null;
  @if ($screen == mobile) {
    $fontPh: 1rem;
  }
  @return $fontPh;
}
@function setDirection($screen) {
  $direction: null;
  @if ($screen == mobile2) {
    $direction: column;
  }
  @return $direction;
}
@function setSecondMargin($screen) {
  $sMargin: null;
  @if ($screen == mobile3) {
    $sMargin: 0;
  }
  @return $sMargin;
}
@function setImgSize($screen) {
  $imgSize: null;
  @if ($screen == mobile3) {
    $imgSize: 400px;
  }
  @if ($screen==mobile4) {
    $imgSize: 300px;
  }
  @return $imgSize;
}
@function setFontSizePh($screen) {
  $fontSizePh: null;
  @if ($screen == mobile3) {
    $fontSizePh: 1rem;
  }
  @return $fontSizePh;
}

main {
  @media screen and (max-width: 1440px) {
    .pink__card {
      flex-direction: setCardDirection(desktop);
    }
  }
  @media screen and (max-width: 1300px) {
    .pink__info {
      flex-direction: setDirection(mobile2);
    }
    .pink__info2 {
      flex-direction: setDirection(mobile2);
    }
  }
  @media screen and (max-width: 1220px) {
    .pink__card {
      margin: setMarginCard(desktop2);
    }
  }
  @media screen and (max-width: 800px) {
    .pink__content .pink__info {
      margin: setSecondMargin(mobile3);
    }
    .pink__content .pink__info2 {
      margin: setSecondMargin(mobile3);
    }
    .pink__content .pink__img1 {
      width: setImgSize(mobile3);
    }
    .pink__content .pink__img2 {
      width: setImgSize(mobile3);
    }
    .pink__content .pink__ph1 {
      font-size: setFontSizePh(mobile3);
    }
    .pink__content .pink__ph2 {
      font-size: setFontSizePh(mobile3);
    }
  }
  @media screen and (max-width: 580px) {
    .pink__card {
      margin: setMarginCard(mobile);
    }
    .pink__pic {
      width: setImgWidth(mobile);
    }
    .pink__ph {
      font-size: setFontPh(mobile);
    }
    .pink__content .pink__info {
      padding: 0;
    }
    .pink__content .pink__info2 {
      padding: 0;
    }
  }
  @media screen and (max-width: 460px) {
    .pink__content .pink__img1 {
      width: setImgSize(mobile4);
    }
    .pink__content .pink__img2 {
      width: setImgSize(mobile4);
    }
  }
}
